{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h3>You edit now article with {{ id }}</h3>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}